<html>
	<head>
	    <meta charset="utf-8">
	    <title>Barnes Witz Webspace Proof of Concept</title>
	    <link type="text/css" rel="stylesheet" href="style.css">
	    <link rel="stylesheet" href="fonts/Calibre-Medium.otf"/>
	    <link rel="stylesheet" href="fonts/Calibre-Regular.otf"/>
		<link rel="stylesheet" href="fonts/Calibre-Light.otf"/>
		<link rel="stylesheet" href="fonts/MiloSerifOT-Bold.otf"/>
	    <!--<link rel="stylesheet" href="https://use.typekit.net/fnc3zlk.css">-->
	</head>

	<body>
		<main>
			<header>
				<img src="images/BarnesWitz_Full_Orange.svg">
				<h1 class="site-directions"><span class="room-name">Main Room</span>Scroll to bring the gallery carousels into view. Use the arrows to move through the artworks in the carousel ensembles. Click or tap on an artwork to learn more about it.</h1>
			</header>
			
			<div class="opacity-layer">
				<p>test</p>
			</div>
				
			
		    <div class="viewport">
		        <div class="scene3D-container">
		            <div class="scene3D">
						
						
						<div class="veil">
							<h3>Main Room, North Wall</h3>
						</div>
						
						<div class="scene">
							
			                <div class="portfolioOverall" >
								
								<form v-on:submit.prevent="addProject" v-cloak>
									<fieldset>
										<legend>What would you add to this Barnes Ensemble? </legend>
										<div class="form-group">
											<label>Title: <input v-model="titleInput" type="text" /></label>
											<label>Image URL: <input v-model="imageInput" type="text"/></label>
											<label>Caption: <input v-model="captionInput" type="text"/></label>
										</div>
										<button type="submit">Add my work!</button>
									</fieldset>
								</form>
								
			                    <div class="projectOne" v-cloak>
			                        <div :project="project" is="the-portfolio"></div>
			                    </div>
			                </div>
						</div>
						
						<div class="veil">
							<h3>Main Room, West Wall</h3>
						</div>
						
						<div class="scene">
			                <div class="portfolioOverall" >
			                    <div class="projectTwo" v-cloak>
			                        <div :project="project" is="the-portfolio"></div>
			                    </div>
			                </div>
						</div>
						
						<div class="veil">
							<h3>Main Room, East Wall</h3>
						</div>
						
						<div class="scene">
							<div class="portfolioOverall" >
			                    <div class="projectThree" v-cloak>
			                        <div :project="project" is="the-portfolio"></div>
			                    </div>
			                </div>
						</div>
						
						<div class="veil">
							<a href="https://jfark.github.io/myprojectpage/"><h3>Read more about the Barnes Witz project here.</h3></a>
						</div>
						
				
		            </div>
		        </div>
		    </div>

		</main>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="script.js"></script>
	<!--<script src="script2.js"></script>-->
	<!--Code from Vincent Humeau CSS 3D Demo-->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="index.js"></script>
	<script src="modal.js"></script>
	<!--End Code from Vincent Humeau CSS 3D Demo-->
	</body>

</html>